<div>
  <% if discuss == @comment.discussion %>
    <% @comment.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>

<%= form_for [discuss, @comment], remote: true do |f| %>
  <%= f.text_area :body, placeholder: "Enter your comment..." %>
  <%= f.submit %>
<% end %>
