<br>
<div>

  <%= render "discussions/comment_form", discuss: discuss %>

  <% if discuss.comments.any? %>
    <ul>
      <% discuss.comments.each do |comment| %>
        <li>
          <p><%= comment.body %></p>
          <div class="action">
            <%= button_to "delete", discussion_comment_path(discuss, comment),
                  method: :delete,
                  data: { confirm: "Are you sure?"}
            %>
          </div>
        </li>

      <% end %>
    </ul>
  <% end %>
</div>
