<%# DELETE THIS ???? %>
<br>
<div>

  <%= render "discussions/comment_form", discuss: discuss %>

  <% if discuss.comments.any? %>
    <ul id="comment-list">
      <% discuss.comments.order("created_at DESC").each do |comment| %>
        <%= render 'comments/comment', {discuss: discuss, comment: comment} %>
      <% end %>
    </ul>
  <% end %>
</div>
