<table id="task-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <%= render "tasks/task", {project: @project, task: task} %>
    <% end %>
  </tbody>
</table>
