// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: helvetica;
}

input[type="submit"]{
  margin-top: 20px;
  border:1px solid grey;
  padding:5px;

  &:hover{
    background-color: grey;
    color:white;
  }
}

ul{
  li{
    margin-bottom: 10px;
  }
}

.task-list{
  .button_to{
    display:inline-block;
  }
}
.discussion-list{
  list-style: none; margin:20px 0; padding:0;

  .title{
    margin:0;
    background-color: teal;
    color:plum;
    padding:10px 5px;
  }

  .action{
    & *{display: inline-block;}
  }
}

input[value="Delete"]{
  border:1px solid tomato;
  background-color: tomato;

  &:hover{
    background-color: tomato;
  }
}

table{
  border-collapse: collapse;
  width:100%;
  &, th, td{
    border: 1px solid grey;
  }
}
